@import url('estilos.css');

.form-row {
  margin: auto;
  display: flex;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
}

h6 a:hover {
  text-decoration: none;
}

#cuerpoNotaPrincipal p {
  font-size: 17px;
  display: flex;
  justify-content: flex-start;

}

.nota p {
  display: flex;
  justify-content: flex-start;
}

.btn:hover {
  background-color: grey;
}

.iframe {
  border-radius: 10%;
}

#fotoNota img {
  width: 100%;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
}


#cuerpoNotaPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


#cuerpoNotaPrincipal p{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}

@media (min-width: 770px){
#cuerpoNotaPrincipal p {
    font-size: 16px;
    justify-content: flex-start;
  }

}


@media (min-width: 1140px){

  /* PAGINA EN CONSTRUCCION MOCKUP Explora*/


}
