@import url('estilos.css');

.qSomos {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

h4 {
  margin-top:30px;
}

.text {
  text-align: center;
}

.frase {
  margin-top: 30px;
  background-color: #00A79D;
  padding: 30px;
  text-align: center;
  color: white;

}

h2{
  font-size: 1.7em;
}

h3 {
font-size: 1.2em;
margin: auto;
font-weight: lighter;
}

@media (min-width: 770px){

  h2{
    font-size: 1.9em;
  }

  h3 {
  font-size: 1.4em;
  }



}


@media (min-width: 1140px){
  .qSomos h4 {
    margin-top: 0%;
  }

  h2{
    font-size: 2em;
  }

  h4 {
    margin-top:0px;
  }
  h3 {
  font-size: 1.7em;
  }

}
