.uk-icon-travel {
    margin: 20px auto;
    text-align: center;
    display: flex;
}

svg {
    width: 50px;
    padding:5px;
}

a {
    margin: auto;
}

li {
    width: 100%;
}

.uk-text{
    text-align:center;
}

@media screen and (min-width:770px) {
    li{width: 33.3%;}
}