//Product Section
.product-features{
    display: flex;
    background: #f9f9f9;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    @media screen and (max-width:768px){padding: 20px 0px;}
  .prod-sect {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    
  
    @media screen and (max-width:768px){
      flex-flow: column;
    }
    .col-img{
    order:-1;
    @media screen and(min-width:1024px){order:1;}
    }
    .col-sect {
      flex: 1 1 35%;
      @media screen and (max-width:768px){
        flex: 1 1 100%;
      }
  
      .wrap-image{
        height: auto;
        width: 450px;
        max-width: 705px;
        position: relative;
        margin-bottom: -203px;
        margin-top: -120px;
  
        // @media screen and (max-width:1024px){
        //   height: auto;
        //   width: 400px;
        // }
        @media screen and (max-width:768px){
          max-width: 705px;
          position: relative;
          margin-bottom: 0;
          margin-top: -40px;
        }
        @media screen and (max-width:480px) {
          height: 100%;
          width: 100%;
          max-width: 100%;
        }
        img{
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
          font-family: "object-fit: cover; object-position: center";
          height: 100% !important;
          width: 100%!important;
        }
      }
      
      
      .features {
        
        h1 {
          font-size: 50px;
          margin-bottom: 30px;
          font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  
          @media screen and (max-width:1024px){
            font-size:45px;
          }
          @media screen and (max-width:768px){
            text-align: center;
          }
  
          @media screen and (max-width:380px) {
            font-size:35px;
          }
        }
  
        .wrap-feat {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
        
          .box-feat {
            flex: 1 1 50%;
            margin: 10px 0px;
            //padding-right: 32px;
  
            i {
              display: block!important;
              font-size: 30px;
              margin-bottom: 10px;
  
              @media screen and (max-width:768px){
                font-size: 20px;
              }
            }
            span{
              font-family: "Din Next Bold",sans-serif;
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 10px;
              display: block;
              max-width: 160px;
              @media screen and (max-width:1024px){
                font-size: 14px;
              }
              @media screen and (max-width:768px){
                max-width: 100%;
              }
            }
            p{
              font-family: "Din Alternate Light",sans-serif;
              font-size: 15px;
              font-weight: bold;
              max-width: 150px;
            @media screen and (max-width:1024px){
              font-size:14px;
            }
            @media screen and (max-width:768px){
              max-width: 100%;
            }
            }
          }
        }
      }
    }
  }
  }